<form method="post" action="/area-paths">
  <label>Organization: <input name="organization" required></label><br>
  <label>Project: <input name="project" required></label><br>
  <label>Area Path: <input name="area_path" required></label><br>
  <label>Incluir sub-paths: <input type="checkbox" name="incluir_subpaths" checked></label><br>
  <label>Ativo: <input type="checkbox" name="ativo" checked></label><br>
  <label>Intervalo (minutos): <input type="number" name="intervalo_minutos" value="60"></label><br>
  <button type="submit">Salvar</button>
</form>
